<h2 align= "center">Sign up</h2>

<div class="login" align="center">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "search-input-login" %>
  </div>

  <div class="field">
    
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "search-input-login" %>
  </div>

  <div class="field">
    
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm password", class: "search-input-login" %>
  </div>
  <div class="field">
    <%= f.label :Doctor %>
    <%= f.check_box :doctor %>
   
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "search-input-login" %>
  </div>
<% end %>
 
  <!-- <%= render "devise/shared/links" %> -->

