




<% if current_user.doctor %>
 
 <h1 align="center" >Booked patient</h1>
 		<div class="container">
		          
		  <table class="table table-striped">
		    <thead>
		      <tr>
		        <th>Email</th>
		        <th>Date</th>
		        
		      </tr>
		    </thead>
    <% @patient.each do |pat| %>
        <% @details = User.where(:id => pat.patient_id).first %>
        
				    <tbody>
				      <tr>
				        <td><%= @details.try(:email) %></td>
				        <td><%= pat.date %></td>
				        
				      </tr>
				     
				    </tbody>
				  
       
        
        

    <% end %>
  </table>
	</div>

<% else %>
	
	<br>
	<div ng-controller="bookcontroller">
   <div class="col-sm-5 w3-card-2 w3-hover-shadow w3-center doc" ng-repeat="x in doctors">
   	<div>&nbsp</div>
      <div class="details col-sm-12 w3-center ">
        <h3 >{{x.email}}
        	
        </h3>
        
      </div>
      <div class=" " >
      	

			    
			    <input id="booking.date" name="date" type="date" ng-model="booking.date" />
			    <input type="submit" value = "Book" ng-click="book(booking,x.id)" class ="btn w3-blue" />
			    <br>
			</div>
			<div>&nbsp</div>
        
     </div>
      <br>
      
    </div>
	

	<!--<h1 align="center">Doctors List</h1>
	<br>
	<br>
		<% @doctor.each do |doc| %>
	        <% if doc.doctor %>

	        
	        	<div class="container row">
				  
				    
				      
				          <div class="col-sm-5 w3-card-2 w3-hover-shadow w3-center doc">
				            <div class="details col-sm-12 w3-center ">
				              <h3 ><%= doc.email %>
				              	
				              </h3>
				              
				            </div>
				            <div class=" " >
				            	<%= form_tag(home_search_path, method: "get") do %>
							        
												<input id="user_born_on" name="date" type="date" />
										        <%= hidden_field_tag(:doctorid, doc.id) %>
										        
										        <%= submit_tag ("Book"), class: " btn w3-blue" %>
										        <span id="gmaps-error"></span>
							        <% end %>
				              
				            </div>
				            <br>
				            
				          </div>
				             
				         
				     </div>
				 

	        	
	        <% end %>

	    <% end %>
	  -->
	
<% end %>
<br>
<br>
<br>
<br>
<br>
<br>
<!--

<% @doctor.each do |doc| %>
	        <% if doc.doctor %>

	        
	        	<div class="container row">
				  
				    
				      
				          <div class="col-sm-5 w3-card-2 w3-hover-shadow w3-center doc">
				            <div class="details col-sm-12 w3-center ">
				              <h3 ><%= doc.email %>
				              	
				              </h3>
				              
				            </div>
				            <div class=" " >
				            	<div ng-controller="bookcontroller" ng-init="init(<%= doc.id %>)">
    
										    <input type="input" ng-model="booking.doctor"  />
										    <input id="booking.date" name="date" type="date" ng-model="booking.date" />
										    <input type="submit" value = "Book" ng-click="book(booking)" />
											</div>
				              
				            </div>
				            <br>
				            
				          </div>
				             
				         
				     </div>
				 

	        	
	        <% end %>

	    <% end %>

-->




<br>
<br>

<script type="text/javascript">
  var json = {
    currentUser: <%= current_user.to_json.html_safe %>,
    doctors: <%= @doctor.to_json.html_safe %>
    
  }

</script>


