<!DOCTYPE html>
<html>
  <head>
    <title>Clinic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <%= stylesheet_link_tag "styles.css" %>
    

  
   
    </head>

    <body ng-app="clinic">
       <%if notice != nil %>
          <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= notice %>
          </div>
        <% end %>
        <%if alert != nil %>
          <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= alert %>
          </div>
        <% end %>

    <div class="jumbotron text-center">
      <h1>Clinic</h1>
      <p>
       <% if user_signed_in? %>
        
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'sec' %> |
        <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'sec'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'sec'  %>
      <% end %>
    </p>
    </div>


    
   

    <%= yield %>

    

  </body>
</html>
