<!DOCTYPE html>
<html>
  <head>
    <title>Clinic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    

  
   
    </head>

    <body>

    <div class="w3-bar w3-blue w3-large">
      <a href="#" class="w3-bar-item w3-button">Clinic</a>
      <a href="#" class="w3-bar-item w3-button">Link 1</a>
      <a href="#" class="w3-bar-item w3-button">Link 2</a>
      <a href="#" class="w3-bar-item w3-button">
        <% if user_signed_in? %>
        
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'sec' %> </a>
        <a href="#" class="w3-bar-item w3-button"><%= link_to "Log out", destroy_user_session_path, :method => :delete %></a>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'sec'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'sec'  %>
      <% end %>
    </a>
    </div>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <p class="navbar-text pull-right">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
      </p>

    

    <%= yield %>

    

  </body>
</html>
